@import 'flickity';

.slideshow-wrap{
	position: relative;
}

.flickity-viewport{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.slideshow-placeholder{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	.slideshow{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

//main slideshow
.slideshow{
	.slideshow{
		margin: 0 auto;
		font-size: 0;
		width: 100%;

	}
	.slideshow-item{
		height: 100%;
		width: 100%;
	}
	img{
		position: absolute;
	}
	img.w100{
		width: 100%;
		height: auto;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	img.h100{
		height: 100%;
		width: auto;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}